<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Skill</title>
</head>
<body>
  <h1>Edit Skill</h1>
  <form action="/skills/<%= skill._id %>?_method=PUT" method="post">
    <input type="text" name="skill" value="<%= skill.skill %>">
    <input type="number" name="rating" min="0" max="5" value="<%= skill.rating %>">
    <button type="submit">Update Skill</button>
  </form>
  <a href="/skills/<%= skill._id %>">Cancel</a>
</body>
</html>